# Mend documentation https://docs.mend.io/bundle/unified_agent/page/unified_agent_configuration_parameters.html

excludes=**/*-test*
includes=**/*.js **/*.ts
fileSystemScan=False
resolveAllDependencies=False

npm.includeDevDependencies=True
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.yarnProject=True

case.sensitive.glob=false
archiveIncludes=**/*.jar

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
