@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('material-symbols/material-symbols-rounded.woff2') format('woff2');
}
