@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../../generated/material-symbols-rounded-optimized.woff2') format('woff2');
}

@font-face {
  font-family: 'Echoes';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../../generated/echoes.woff2') format('woff2');
}
